<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/BEDU-Santander-2021/blob/main/Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Frames

In [41]:
import pandas as pd

In [22]:
# Serie con datos de tipo enteros
serie_1 = pd.Series([3,6,8,12])
serie_1

0     3
1     6
2     8
3    12
dtype: int64

In [5]:
# serie con datos tipo objetos
serie_2 = pd.Series(["objeto_1", "obj_2"])
serie_2

0    objeto_1
1       obj_2
dtype: object

In [8]:
# Podemos indexar con nuestros propios indices
serie_3 = pd.Series([2,3,4,5], index = [10,11,12,13])
serie_3

10    2
11    3
12    4
13    5
dtype: int64

In [9]:
datos = {
    "Lizzeth":24,
    "Edgar" :26,
    "Omar" : 22
}

In [11]:
serie_4 = pd.Series(datos)
serie_4

Lizzeth    24
Edgar      26
Omar       22
dtype: int64

In [15]:
#Acceder a las series con los indices que se colocaron
serie_1.loc[2]

8

In [31]:
serie_4.loc["Lizzeth":"Edgar"]

Lizzeth    24
Edgar      26
dtype: int64

In [18]:
# Usando iloc para acceder con el indice de python que conocemos desde 0:n
serie_3.iloc[0]

2

In [26]:
serie_4.iloc[0]
# serie_4.iloc[[0]]

Lizzeth    24
dtype: int64

In [24]:
#Puedo jalar subseries y ordenarlas como quiero
serie_1.loc[[3,0,1]]

3    12
0     3
1     6
dtype: int64

In [27]:
#Puedo jalar subseries y ordenarlas como quiero
serie_4.iloc[[1,0]]

Edgar      26
Lizzeth    24
dtype: int64

### Data Frames

In [46]:
datos = {
    "columna_1" : ["valor1", "valor_2"],
    "columna_2" : ["valo3", "valor_4"]
}

In [47]:
df = pd.DataFrame(datos)
df

  columna_1 columna_2
0    valor1     valo3
1   valor_2   valor_4

In [49]:
# Jalamos las filas con la indexacion de py
df.loc[[1]]

  columna_1 columna_2
1   valor_2   valor_4

In [51]:
#Jalamos columnas
df[["columna_1"]]

  columna_1
0    valor1
1   valor_2

In [61]:
# Jalar un valor especifico (tipo coordenadas, fila, columna)
df.loc[:1,"columna_2"]

0      valo3
1    valor_4
Name: columna_2, dtype: object