<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/BEDU-Santander-2021/blob/main/Casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sesion 7
Casting

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/BEDU/Datasets/new_york_times_bestsellers-dirty.csv")
df.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [ ]:
#Veamos los tipos de columnas del dataset
df.dtypes

Las columnas no estan en los tipod de datos que necesitamos para manipuarlos

In [6]:
# vamos a crear un diccionario con el nombre de las columnas y el tipo de datos que queremos
diccionario_de_conversion = {"bestsellers_date.numberLong": "datetime64[ns]",
                             "published_date.numberLong" : "datetime64[ns]"}

In [ ]:
temp = df.astype(diccionario_de_conversion)
temp.head()

In [8]:
#Otra forma
pd.to_datetime(df['published_date.numberLong'], unit='ms')

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
4      2008-06-08
          ...
2261   2013-05-05
2262   2013-05-05
2263   2013-05-05
2264   2013-05-05
2265   2013-05-05
Name: published_date.numberLong, Length: 2266, dtype: datetime64[ns]

## Filtros

In [9]:
df["author"].str.startswith("R")

0       False
1       False
2       False
3       False
4       False
        ...
2261    False
2262    False
2263    False
2264    False
2265    False
Name: author, Length: 2266, dtype: bool

In [10]:
# Usamos el filtro y lo aplicamos al df para visualizar el df con dicho filtro
df[df["author"].str.startswith("R")].head()

     Unnamed: 0  ... price.numberDouble
60           79  ...              25.95
73           94  ...              25.95
85          110  ...              24.95
109         143  ...              25.95
121         158  ...              25.95

[5 rows x 13 columns]