<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/BEDU-Santander-2021/blob/main/API's_y_concatenacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sesión 6: **Manejo de API'S**

### Notas sobre solicitud de información de HTTP
- GET: Lo usamos cuando queremos pedir información
- POST: Lo usamos cuando queremos enviar información para crear algo (una cuenta de usuario, por ejemplo)
- PUT: Lo usamos cuando queremos sustituir algún dato por otro
- PATCH: Lo usamos cuando queremos modificar algún dato
- DELETE: Lo usamos cuando queremos eliminar algún dato

In [1]:
#Instalamos biblioteca para peticiones información en HTTP
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)

In [26]:
import requests
import pandas as pd

In [7]:
#Por convención les llamamos endpoint a los accesos
endpoint = " https://api.nasa.gov/neo/rest/v1/neo/browse/"

payload = {"api_key": "NGkLULRS1fZXFUD26ZKmffmwkLhhWhfFW43QlLip"}

In [22]:
# Llamamos al archivo con los parametros de el acceso y la llave de acceso
r = requests.get(endpoint, payload)

# Veamos el estatus, con 200 sabemos que el request fue exitoso.
r.status_code

200

In [ ]:
#Observemos los datos que estan en formato json
r.json()

In [32]:
json = r.json()
json.keys()

dict_keys(['links', 'page', 'near_earth_objects'])

In [33]:
json["links"]

{'next': 'http://www.neowsapp.com/rest/v1/neo/browse?page=1&size=20&api_key=NGkLULRS1fZXFUD26ZKmffmwkLhhWhfFW43QlLip',
 'self': 'http://www.neowsapp.com/rest/v1/neo/browse?page=0&size=20&api_key=NGkLULRS1fZXFUD26ZKmffmwkLhhWhfFW43QlLip'}

In [34]:
json["page"]

{'number': 0, 'size': 20, 'total_elements': 26326, 'total_pages': 1317}

In [ ]:
json['near_earth_objects'] # Observemos que en realidad es una lista

In [ ]:
# Con pprint obtenemos una visualizacion mas organizada de los datos
from pprint import pprint
pprint(json['near_earth_objects'][0])

In [43]:
# Guardamos y transformamos a df
data = json["near_earth_objects"]
df = pd.DataFrame(data)
df.head() #Notemos que esta feo seguimos teniendo un estilo json y lo corregimos normalizando

                                               links  ... is_sentry_object
0  {'self': 'http://www.neowsapp.com/rest/v1/neo/...  ...            False
1  {'self': 'http://www.neowsapp.com/rest/v1/neo/...  ...            False
2  {'self': 'http://www.neowsapp.com/rest/v1/neo/...  ...            False
3  {'self': 'http://www.neowsapp.com/rest/v1/neo/...  ...            False
4  {'self': 'http://www.neowsapp.com/rest/v1/neo/...  ...            False

[5 rows x 13 columns]

In [44]:
# Normalizamos el df
# Desanidamos el diccionario y colocamos los diccionarios dentro de otros diccionarios como columnas
normalized = pd.json_normalize(data)
df = pd.DataFrame.from_dict(normalized)
df.head()

        id  ... orbital_data.orbit_class.orbit_class_range
0  2000433  ...         1.017 AU < q (perihelion) < 1.3 AU
1  2000719  ...         1.017 AU < q (perihelion) < 1.3 AU
2  2000887  ...         1.017 AU < q (perihelion) < 1.3 AU
3  2001036  ...         1.017 AU < q (perihelion) < 1.3 AU
4  2001221  ...         1.017 AU < q (perihelion) < 1.3 AU

[5 rows x 44 columns]

## Automatización de procesos

In [45]:
lista_1 =[1,2,3]

# El try siempre va acompañado con un except
# Es útil hacer esto para detectar el problema, y no parar la ejecución
# Es decir sale un error y eso nos para la ejecución, por lo que con try y except no borramos el error pero la ejecución continua en caso de haber un error
try:
  lista_1[10]
except:
  print("El índice esta fuera de rango")

El inidice esta fuera de rango

In [52]:
data_1 = {
    "column_1": [1,2,3],
    "column_2": [4,5,6]
}

df_1 = pd.DataFrame(data_1, index = ["a", "b", "c"])

data_2 = {
    "column_1": [7,8,9],
    "column_2": [10,11,12]
}

df_2 = pd.DataFrame(data_2, index = ["d", "e", "f"])
df_1

   column_1  column_2
a         1         4
b         2         5
c         3         6

In [53]:
# Concatenación
pd.concat([df_1, df_2], axis = 0)

   column_1  column_2
a         1         4
b         2         5
c         3         6
d         7        10
e         8        11
f         9        12

In [54]:
pd.concat([df_1, df_2], axis = 1)

   column_1  column_2  column_1  column_2
a       1.0       4.0       NaN       NaN
b       2.0       5.0       NaN       NaN
c       3.0       6.0       NaN       NaN
d       NaN       NaN       7.0      10.0
e       NaN       NaN       8.0      11.0
f       NaN       NaN       9.0      12.0

In [55]:
# Multindexación
df_concat = pd.concat([df_1,df_2], axis = 0, keys = ["df_1", "df_2"])
df_concat

        column_1  column_2
df_1 a         1         4
     b         2         5
     c         3         6
df_2 d         7        10
     e         8        11
     f         9        12

In [56]:
# Podemos acceder al df multiindexado con loc
df_concat.loc[("df_1", "b")]

column_1    2
column_2    5
Name: (df_1, b), dtype: int64