<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/BEDU-Santander-2021/blob/main/Analisis%20de%20Datos%20con%20Python/Sesion_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sesión 1: Estimados de Locación y Variabilidad

In [1]:
import pandas as pd

In [46]:
# Leemos datset
data = pd.read_csv("/content/drive/MyDrive/datasets_BEDU/Remoto melbourne_housing-clean.csv", index_col = 0)
data.head()

       suburb           address  ...            region_name property_count
0  Abbotsford      85 Turner St  ...  Northern Metropolitan         4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan         4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan         4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan         4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan         4019.0

[5 rows x 19 columns]

## Estimados de locación

In [10]:
# Media
data['price'].mean()

1068141.895071269

In [12]:
# Mediana
data['price'].median()

895500.0

In [24]:
from scipy import stats

In [27]:
# Media Truncada (Quitando un porcentaje(5% - 25%) de los valores, que se encuentran en los extremos)
stats.trim_mean(data['price'], 0.25)

926835.2886332418

In [30]:
#Comprobamos
precios_ordenados = sorted(data['price'])
stats.trim_mean(precios_ordenados, 0.25)

926835.2886332418

### Ejercicio
- Obtén el porcentaje de muestras que están a una distancia de 1 desviación - estándar del promedio.
- Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio.
- Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio.

In [47]:
df = pd.read_csv('/content/drive/MyDrive/datasets_BEDU/Remoto near_earth_objects-jan_feb_1995-clean.csv')
df.head()

   Unnamed: 0  ...  relative_velocity.kilometers_per_hour
0           0  ...                           58114.308667
1           1  ...                           44463.757734
2           2  ...                           22393.567277
3           3  ...                           80923.015021
4           4  ...                           17995.288355

[5 rows x 11 columns]

In [48]:
df.shape

(333, 11)

In [49]:
# desviacion estandar
dev = df['estimated_diameter.meters.estimated_diameter_max'].std()
dev

614.691591855223

In [50]:
# mean
mean = df['estimated_diameter.meters.estimated_diameter_max'].mean()
mean

410.0860422397653

In [51]:
# A una desviación 
list_1 = list(filter(lambda x: (x - mean) < dev, df['estimated_diameter.meters.estimated_diameter_max']))
len(list_1)/3.33

90.3903903903904

In [52]:
# A dos desviaciones
list_2 = list(filter(lambda x: (x - mean) < dev*2, df['estimated_diameter.meters.estimated_diameter_max']))
len(list_2)/3.33

96.3963963963964

In [53]:
# A tres desviaciones
list_3 = list(filter(lambda x: (x - mean) < dev*3, df['estimated_diameter.meters.estimated_diameter_max']))
len(list_3)/3.33

97.89789789789789

## Estimados de Variabilidad

In [31]:
# Desviación estándar
data['price'].std()

643728.1914372866

### Estadísticos de orden (Rango, Percentiles, Rango intercuartilico)

In [33]:
# Rango
data['price'].max() - data['price'].min()

8915000.0

In [35]:
# Percentiles
# 80% de los datos
r = data['price'].quantile(0.8)
print(f'El 80% de los datos están por debajo o igual al valor de {r}')

El 80% de los datos están por debajo o igual al valor a 1440000.0

In [45]:
quantiles = [0, 0.1, 0.25, 0.5, 0.75, 0.9, 1]
for q in quantiles:
  print(f"Percentil {q*100}% \t{data['price'].quantile(q)}")

Percentil 0% 	85000.0
Percentil 10.0% 	470000.0
Percentil 25.0% 	640000.0
Percentil 50.0% 	895500.0
Percentil 75.0% 	1325000.0
Percentil 90.0% 	1850000.0
Percentil 100% 	9000000.0